body {
	padding-top: 2rem;
	padding-bottom: 1rem;
	color: #5a5a5a;
  }
  
.carousel {
	margin-bottom: 5rem;
}
  
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}
  
.carousel-item {
	height: 32rem;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 3rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
  
@media (min-width: 40em) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
  
	.featurette-heading {
		font-size: 50px;
	}
  }
  
@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}